################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*/.vs
*/obj
*/bin
*.suo
/Ds/Ds/bin/Debug/net8.0
/Ds/Ds/obj
